$danger-color: #e94560;
$primary-color: #20689a;

$input-border-color: #cfd2cf;
$input-placeholder-color: #b2b1b9;

$button-disabled-color: #999999;

$layout-border-color: #b6abab;
$layout-background-color: #ffffff;
