@import "../../sass/variables.scss";
.button {
  outline: none;
  appearance: none;
  border: none;
  display: block;

  padding: 0px 10px;
  font-weight: bold;
  color: #ffffff;

  cursor: pointer;
  height: 40px;

  &:disabled {
    background: $button-disabled-color;
  }

  &--state-primary {
    background: $primary-color;
  }

  &--state-danger {
    background: $danger-color;
  }
}
