.button {
  outline: none;
  appearance: none;
  border: none;
  display: block;

  margin: 5px;
  padding: 0px 10px;
  font-weight: bold;
  color: #ffffff;

  border-radius: 5px;
  cursor: pointer;
  height: 40px;
}

.button--state-primary {
  background: #20689a;
}

.button--state-danger {
  background: #e94560;
}
