.button {
  outline: none;
  appearance: none;
  border: none;
  display: block;

  padding: 0px 10px;
  font-weight: bold;
  color: #ffffff;

  cursor: pointer;
  height: 40px;

  &:disabled {
    background: #999999;
  }

  &--state-primary {
    background: #20689a;
  }

  &--state-danger {
    background: #e94560;
  }
}
