.posts {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 320px));
    gap: 10px;
  }
}
