.select {
  outline: none;
  appearance: none;
  display: block;

  margin: 5px;
  padding: 0 10px;
  height: 40px;
  background: white;
  border-radius: 5px;
  border: 1px solid #cfd2cf;

  color: #b2b1b9;
}
