@import "sass/variables.scss";

.auth-card {
  width: 300px;
  padding: 10px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 10px;
  background: $layout-background-color;

  @media screen and (max-width: 350px) {
    width: unset;
  }

  &__header {
    padding: 0 5px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
      cursor: pointer;
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__error {
    margin-top: 5px;
    text-align: center;
    color: $danger-color;
    font-weight: bold;
  }
}
