.login-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 300px;

  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.login-menu__header {
  padding: 0 5px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-menu__header__title {
  font-weight: bold;
  font-size: 16px;
}

.login-menu__header__signup-link {
  font-size: 12px;
  cursor: pointer;
  color: #2763e2;
  text-decoration: none;
}
