.post-card {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid #b6abab;

  &__title {
    color: grey;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  &__image {
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  &__date {
    font-size: 12px;
  }

  &__author {
    font-weight: bold;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__controls {
    display: flex;
    gap: 10px;
  }
}
