@import "../../../../sass/variables.scss";

.post-card {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid $layout-border-color;

  &__title {
    color: #494f7d;
    text-align: center;
  }

  &__image {
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  &__author {
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__controls {
    display: flex;
    gap: 10px;
  }

  &__delete-modal {
    &__footer {
      padding: 10px;
    }
  }
}
