@import "sass/variables.scss";

.user-form {
  width: 600px;
  padding: 20px;

  background: $layout-background-color;
  border: 1px solid $layout-border-color;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;

    .react-datepicker {
      &__input-container {
        display: flex;

        .datepicker {
          flex: 1;
        }
      }
    }
  }
}
